---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #666;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: #f7f5f2;
$grey-color-dark:  darken($grey-color, 25%);
$link-color:       #f27837;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

a, a:visited {
  color: $link-color;
}

// Header

.site-title {
  font-size: $base-font-size * 2.5;
}

// Main menu

nav a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: right;
    line-height: 25px;
    font-size: $base-font-size;
    text-transform: uppercase;
}

nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li.current a {
    color: #111;
    background: $grey-color-light;
}

// Content global

h1.page-heading, h1.post-title {
  font-size: $base-font-size * 2;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 200;
}

h2 {
  font-weight: 200;
}

// Partners grid on partners page

.partner-grid-1, .partner-grid-2, .partner-grid-3, .partner-grid-4, .partner-grid-5 {
  display: block;
  float: left;
  height: auto;
  text-align: justify;
  margin: 10px;
  padding: 10px;
  border-bottom: 2px solid $grey-color;
}

.partner-grid-1 img, .partner-grid-2 img, .partner-grid-3 img, .partner-grid-4 img, .partner-grid-5 img {
  padding: 0 10px 10px 0;
  display: block;
  float: left;
}

.single-partner {
  color: $grey-color;
  padding-top: 20px;
  padding-right: 10px;
  float: left;
  width: 220px;
  height: 80px;
  font-size: $small-font-size - 2px;
  transition: all 1s ease;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */
}

.single-partner:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
}

// footer

.site-footer {
  border-top: 1px solid $grey-color;
}
