<img src="/images/partners/tln-zoo-logo.png" alt="Tallinn Zoo" height="185" width="160">

<p><a href="http://tallinnzoo.ee">Tallinn Zoo</a>

was founded on 25 August  1939. Tallinn Zoo holds the best collection of mountain goats
and sheep in the world. We have an outstanding number of eagles and vultures and a remarkable collection of owl and crane species.
As to other animal groups, the choice is more modest. Together with the invertebrates the collection includes more than 10,000 specimens
of 500 species along with African elephant, Amur tiger, polar bear, black rhinoceros, etc. However, we can claim without boasting
that during our existence of a bit more than 75 years we have managed to assemble the most fascinating zoo collection in Northern
Europe and achieved significant success in the reproduction of our nurselings. The zoo combines 89 ha of natural forest and attractive landscapes.

</p>
