---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}

    <div class="partner-grid-1">
      {% include tlu-desc.html %}
    </div>
    <div class="partner-grid-2">
      {% include skansen-desc.html %}
    </div>
    <div class="partner-grid-3">
      {% include korkesaari-desc.html %}
    </div>
    <div class="partner-grid-4">
      {% include tlu-desc.html %}
    </div>
  </div>

</article>
